@import '../../shared/variables.scss';

.card background-text{
    text-shadow: $bg-text-shadow;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    font-size: $font-size-bg;
    text-align: end;
    font-weight: 900;
    color: $primary_5;
    line-height: 100%;
    z-index: -1;
}
