@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: #6274b2;
}

header {
    width: 100%;
    padding: 20px 40px;
    background: linear-gradient(to right, #4e5c8e, #121e49);
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.431);
}

main {
    position: relative;
    width: 100%;
}

.square {
    margin-top: 10%;
    position: absolute;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border: 3px solid rgb(24, 24, 90);
    background: linear-gradient(to right, #18124f, #0b0b0b);
    box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.469);
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1em;
    }

}