@import '../../shared/variables.scss';

.card {
    color: white;
    margin: $base-margin;
    padding: $base-padding * 2;
    width: 400px;
    position: relative;
    border-radius: $base-border-radius;
    box-shadow: $card-box-shadow;
    border: $base-border-thickness*2 solid rgba(255, 255, 255, 0.184);

    h3 {
        text-align: center;
        text-shadow: $section-text-shadow;
        color: $primary_1;
        font-size: $font-size-lg;
    }

    p {
        text-align: justify;
        font-size: $font-size-sm;
    }
}

.card:hover {
    box-shadow: $card-hovered-box-shadow;
}
