@import '../../shared/variables.scss';


#square-1 {
    background-color: rgba(203, 184, 182, 0.713);
}

#square-2 {
    background-color: rgba(182, 197, 203, 0.713);
}

#square-3 {
    background-color: rgba(202, 182, 203, 0.713);
}

div.card {
    text-align: center;
    background: rgb(222, 221, 221);
    padding: 100px;
    margin: 100px auto 0px auto;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(11, 11, 11, 0.05);
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.658);
    
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    padding: 0px 50px;
    font-size: 30px;
    text-shadow: 3px 10px 5px rgba(190, 188, 188, 0.1);
    text-align: center;
    color:white;
    background:linear-gradient(to right, #a8a8a9,#6e6d6d);
    border-radius: 30px;
}

button:hover {
    background:linear-gradient(to right, #747476,#3f3f3f);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p {
    width: 100px;
    background: none;
    border: none;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgba(172, 168, 168, 0.1);
    color: rgba(27, 28, 28, 0.5);
}