$primary_0: #576b81;
$primary_1: #3a4756;
$primary_2: #3a4756ce;
$primary_3: #3a47569d;
$primary_4: #3a47563d;
$primary_5: #3a475622;
$primary_6: #010911d3;

$bage: #0d0832d7;
$search: rgba(0, 0, 0, 0.288);
$search_hovered: rgba(56, 56, 56, 0.425);

$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.8;
$font-size-lg: $base-font-size * 1.8;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
$font-size-bg: $base-font-size * 10;

$header-text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.978);
$search-text-shadow: 1px 1px 2px rgba(222, 219, 219, 0.546);
$section-text-shadow: 1px 1px 1px rgba(255, 254, 254, 0.88);
$bg-text-shadow: 1px 2px 3px $primary_5;
$base-box-shadow: 0 5px 16px $primary_3, 0 17px 50px 0 $primary_3 !default;
$header-box-shadow: 0 5px 10px rgba(41, 40, 45, 0.513);
$card-box-shadow: 0 5px 16px $primary_3, 0 17px 50px 0 $primary_3;
$form-box-shadow: 0 5px 16px $primary_4, 0 17px 50px 0 $primary_4;
$bage-box-shadow: 1px 1px 1px rgb(12, 33, 75);

$card-hovered-box-shadow: 0 10px 16px $primary_0, 0 17px 50px 0 $primary_0;
$bage-box-shadow: 1px 1px 1px rgb(12, 33, 75);
$dark-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
$light-box-shadow: 0 5px 16px rgba(250, 248, 248, 0.24), 0 17px 50px 0 rgba(249, 249, 249, 0.19);