@import '../shared/variables.scss';

* {
  color:white;
}


.form {
  
  width: 400px;
  min-height: 450px;
  padding: $base-padding * 1;
  box-shadow: $form-box-shadow;

  h1 {
    text-shadow: $section-text-shadow;
    color: $primary_1;
}

  input, textarea, select {
    color: white;
    background-color: $primary_3;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1rem;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: $base-border-radius;
  }
  
  button {
    font-size: $font-size-sm * 1.3;
    margin: $base-margin;
    padding: 10px;
    width: 100px;
    border-radius: $base-border-radius;
    color: white;
    font-weight: 900;
    background: linear-gradient(to right, green, $primary_5);

  }
  button:hover {
    background: linear-gradient(to left, green, $primary_5);
  }
  button:disabled {
    background: linear-gradient(to left, red, $primary_5);
    color: gray;
  }
}

.form:hover {
  box-shadow: $card-box-shadow;
}


.error {
  font-size: 12px;
  color: red;
  margin-top: 0.25rem;
}

.error-field {
  border: 2px solid red;
}

.post-title {
  text-align: left  ;
}

.posts-nav{
  min-width: 400px;
  width: 45%;
  min-height: 450px;
  padding: $base-padding * 1;
  box-shadow: $form-box-shadow;

  p, ul {
    font-size: $base-font-size*1.2;
    text-align: center;
    padding: $base-padding * 5 $base-padding * 5;
    list-style-type:decimal-leading;
  }

  li {
    text-decoration: underline;
  }
  h1 {
    color:white;

}
}

.color{
    text-shadow: $section-text-shadow;
    color: $primary_1;
}

hr {
  margin-bottom: $base-margin*5;
}