@import '../shared/variables.scss';

header {
    width: 100%;
    padding: $base-padding * 1.5;
    margin-bottom: $base-margin * 2;
    background: $primary_2;
    box-shadow: $header-box-shadow;
    position: relative;

    h1 {
      text-shadow: $header-text-shadow;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: $font-size-xxl;
    }
}