

main {
    margin: 0 auto;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-main {
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}

